/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar Styles */
.navbar {
    background-color: #004080;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    max-height: 50px;
}


a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.navbar-content {
    display: flex;
    align-items: center;
}

.navbar-item {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.navbar-item img {
    width: 20px;
    margin-right: 8px;
}

.menu-btn {
    display: none;
}

/* Intro Section */
.intro {
    text-align: center;
    padding: 50px 20px;
    background-color: #f7f7f7;
}

.intro-title {
    font-size: 36px;
    color: #004080;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 20px;
    color: #666;
}

/* Services Section */
.services {
    padding: 50px 20px;
    background-color: #333;
}

.services {
    text-align: center;
    color: #004080;
    margin-bottom: 40px;
}

.service-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    padding: 6px;
}

.service-icon {
    max-width: 50px;
    margin-bottom: 20px
}

.container-carousel {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.project-gallery {
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.project-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.project-item{
    width: 230px;
    border-radius: 30px;
}
.img-carousel{
width: 500px;
height: 360px;
border-radius: 30px;
transition: 1s;
}
.img-carousel:hover{
    transition: 1s;
    cursor: pointer;
    box-shadow: 1px 1px 3px 5px rgb(255, 255, 255) ;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

/* Responsivo */
@media screen and (max-width: 700px) {
    .conteiner-carousel {
     width: 400px;
    }
}
@media (max-width: 650px){
    .img-carousel{
        width: 228px;
        height: 221px;
    }
}


.container-contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.form-section, .contact-section {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex: 1 1 45%;
}

.form-section h2, .contact-section h2 {
    color: #fff;
    margin-bottom: 20px;
}

.form-section input, .form-section textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #726754;
    color: #ffffff;
    font-size: 1em;
}

.form-section button {
    width: 100%;
    padding: 15px;
    background-color: #726754;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
}

.checkbox-group label {
    display: inline-block;
    margin-right: 10px;
    font-size: 0.9em;
}
p{
    color: white;
}
.contact-section p {
    margin: 10px 0;
}

.whatsapp-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: 0.5s;
}
.whatsapp-button:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 3px 1px  #4CAF50;
}
.area-mensagem{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact-section p {
    font-size: 1.1em;
}
.submit{
    cursor: pointer;
}
@media (max-width: 700px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .project-item{
        flex-wrap: wrap;
    }
    .form-section, .contact-section {
        width: 100%;
        margin: 10px 0;
    }
    .area-mensagem{
        flex-wrap: wrap ;
    }
}
@media (max-width: 440px) {
    .navbar-content{
        flex-wrap: wrap;
    }
}

.assinatura-cont{
    padding: 20px;
    text-align: center;
    justify-content: center;
}
.assinatura{
    display: flex;
}
